.place__url-heading {
    color: var(--grey);
    margin: 0 0 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 170%;
    letter-spacing: .2em;
}

@media screen and (max-width: 820px) {
    .place__url-heading {
        font-size: 12px;
        line-height: 12px;
    }
}